<section class="squadpage">

    <div class="squadpage-content">
        <h1 class="h1">Squadpage</h1>
            <h2 class="h2">Students</h2>
    </div>
    
<ul class="card-list">
    <% persons.forEach(person => {
      if(person.squad_id === 3 && person.role.includes("member")) { %>
        <li class="card">
            <div class="mugshot-container">
                <img class="mugshot" src="/assets/<%= person.id %>.jpg">
            </div>
            <p> <%= person.name %> <%= person.prefix %> <%= person.surname %> </p>
        </li>
      <% }
    }) %>
</ul>

</section>